<!DOCTYPE html>
<html>
<head>

</head>
<body ng-app="app">
    <div class="container" ng-controller="myCtrl">  
    
        <h1>Hello</h1>
       <!-- <h2>{{firstName}}</h2>
        First Name: <input type="text" ng-model="firstName"><br>
        Last Name: <input type="text" ng-model="lastName"><br><br>
        Full Name: {{firstName + " " + lastName}} -->
        
        <table class="table table-striped table-bordered table-hover table-condensed">  
             <tr ng-repeat-start="thing in movies">
                <td>{{$index+1}}</td>
                 <td>{{thing.title}}</td>
                 <td>{{thing.desc}}</td>
             </tr>
            
             <tr ng-repeat-end></tr>
        </table>
        
    </div>
    <script type="text/javascript" src="bundle.js"></script>
    
</body>
</html>
